/* Variables
=========================== */

// Background Colors
$body-content-bg: #f7f7f7;
$pale-grey: #e9ecf7;

// Font Size
$fontSizeh1: 44pt;
$fontSizeh2: 32pt;
$fontSizeh3: 28pt;
$fontSizeh4: 24pt;
$fontSizeh5: 22pt;
$fontSizeh6: 18pt;
$fontSizePlg: 16pt;
$fontSizePsm: 14pt;

// Colors
$black: #333333;
$sapphire: #2949b3;
$white: #ffffff;
